<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBemSo8KvoA_FI3cnpZ6jh5VfWlZ9LviQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>445124433328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daniel.finalTest</string>
	<key>PROJECT_ID</key>
	<string>flutter-final-b29c3</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-final-b29c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445124433328:ios:f8734bb3cfd14e5458b275</string>
</dict>
</plist>